### NeoStats - Python for Data Science
##### Introduction to Python Language  (Python 3) 
In this notebook we will cover the following: 
* 1. Data Types        <br> 
* 2. Variables & Expressions<br>
* 3. Language  Basics  <br>
* 4. Function & Modules<br>

We will cover the following in Notebook 2:
* 5. Classes  & Objects<br>
* 6. File I/O          <br>
* 7. Exception Handling<br>
***

#### A note on Python 2 vs. Python 3
* There are 2 major versions of Python in widespread use: Python 2 and Python 3. <br>
Below is a timeline of the release of the various versions of the Python.

|S.No|Python 2.0 – Release| Python 3.0 – Release |
| :-| --- | :- | 
|First Release  |Python 2.0 – Oct 16, 2000    | Python 3.0 – Dec 3, 2008 |
|Latest Release | Python 2.7-July 3, 2010     | Python 3.10- Oct 4, 2021 |

Comparison of Python 2 & Python 3:
* Ease of Syntax: Python 2 has more complicated syntax than Python 3.
* “Print” Keyword:	In Python 2, print is considered to be a statement.In Python 3, print is a function.
* String Storage :  In Python 2, strings are stored as ASCII by default. In Python 3, strings are stored as UNICODE by default.
* Integer Division: Division of two integers yields an integer value in Python 2. For instance, 7/2 yields 3 in Python 2. On the division of two integers, we get a floating-point value in Python 3.
* Exceptions	: In Python 2, exceptions are enclosed in notations. In Python 3, exceptions are enclosed in parentheses.
* Iteration	: In Python 2, the xrange() function has been defined for iterations. In Python 3, the new Range() function was introduced to perform iterations.
* Libraries: A lot of libraries of Python 2 are not forward compatible.	Many libraries created in Python 3 can only work with Python 3.
* Application: Python 2 was mostly used for application development.Python 3 is used in a lot of fields like Software Engineering, Data Science, web development etc.

Python 2 is no longer updated since 2020. Python 3 is more popular than Python 2 and is still in active development. Hence we will use Python 3.6 or later for all our work.

### 1. Data Types in Python
- Numeric Types:	int, float, complex
- Text Type:	str
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

In [ ]:
1                        # python understands this is a number

In [1]:
1 + 5 + 7                # additions of numbers

13

In [2]:
2 + 3 * 5 + 5 -3          # BODMAS

19

In [ ]:
1/3                        # division yields a floating point number

In [ ]:
5*3.5                     # multiplication

In [ ]:
2**4                       # exponentiating

In [ ]:
4%2                        # modulus - good way to check an even number

In [3]:
x = 1                      # int
y = 2.8                    # float
z = x+y                    # automatic type conversion
type(z)

float

In [4]:
#Complex numbers
z = complex (2 , 3)
print (z)

(2+3j)

In [5]:
z.real , z.imag

(2.0, 3.0)

In [ ]:
type(z)

In [6]:
#Strings 
a = 'single quotes'
b = "double quotes"
n = "wrap 'single quotes' with double quote"
print ( a, b, n)

single quotes double quotes wrap 'single quotes' with double quote

In [7]:
s = 'hello'                 # indexing strings 
s[1]                        # counting starts at 0

'e'

In [8]:
s[0:2]                      #slicing - from 0 upto but not including 2

'he'

In [9]:
s[:3]                       #slicing - from beginign upto but not including 3

'hel'

In [10]:
s[-1]                       # -1 {its not -0} starts from end and goes reverse

'o'

In [11]:
a = "hello"
b = "world"
c = a+b                    #concatenate - with no space in between
print(c)

helloworld

In [ ]:
# multi-line string
ml_string = '''this is a multi
line string that
spans across 3 lines'''

print(ml_string)

In [12]:
#strings are immutable
a[0] = 'J'

TypeError: 'str' object does not support item assignment

In [17]:
#list 
my_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g']   
print(my_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
my_list.append('d')                       # add to list

In [14]:
type(my_list)                            # check type

list

In [23]:
my_list[0:-2]                             # index lists - index starts from 0.  [start : end but not including]

['a', 'b', 'c', 'd', 'e']

In [24]:
my_list[5:2]

[]

In [16]:
my_list[-1]                              # -ve index : starts from end

'hello'

In [22]:
my_list[::2]                           # slicing has 3 parameters with last 2 being optional [<start>:<stop>:<step>]

['a', 'c', 'e', 'g']

In [20]:
#What is this doing?
my_list[::-1]

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [25]:
my_list[0] = "A"                           # reassign values of list
print(my_list)

['A', 'b', 'c', 'd', 'e', 'f', 'g']

In [27]:
n_list = [1,2,3,[1,2,3,[1,2,'target']]]     #nested list
print(n_list)

[1, 2, 3, [1, 2, 3, [1, 2, 'target']]]

In [29]:
n_list[3]

[1, 2, 3, [1, 2, 'target']]

In [30]:
n_list[3][3]

[1, 2, 'target']

In [31]:
n_list[3][3][2]

'target'

In [32]:
#list 
my_list = ['b', 'a', 'c', 'd', 'f']

my_list.reverse()                           #reverse the list
print(my_list)

['f', 'd', 'c', 'a', 'b']

In [33]:
my_list.sort()                               #sort the list
print(my_list)

['a', 'b', 'c', 'd', 'f']

In [ ]:
my_list.pop(3)                               #removes the element at specified position
print(my_list)

In [34]:
my_list.clear()                              #removes all the elements of the list
print(my_list)

[]

In [35]:
#tuple - similar to list but unmutable (cannot be changed)
t = (1,2,3)

In [36]:
print(t[0])

1

In [37]:
#tuple is immutable
t[0] = 5                                      # will give an error

TypeError: 'tuple' object does not support item assignment

In [38]:
# Set is collection of "unique" elements
s = {1,2,3,4,5,5,4,3,2,1}                   # curly braces

In [39]:
print(s)

{1, 2, 3, 4, 5}

In [40]:
s.add(6)                                    # add to a set
print(s)

{1, 2, 3, 4, 5, 6}

In [41]:
s.pop()                                     # removes first element 
print(s)

{2, 3, 4, 5, 6}

In [42]:
#Set Operations:

A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# Set union: | operator
print("A U B", A | B)                     # Also -> A.union(B) or B.union(A) 

#Set intersection: & operator
print("A int B:", A & B)                  # Also -> A.intersection(B)

#Set difference: - operator
print("A diff B", A - B)

#Set symmetric difference (All but common elements): ^ operator
print("A common B:", A ^ B)

A U B {1, 2, 3, 4, 5, 6, 7, 8}
A int B: {4, 5}
A diff B {1, 2, 3}
A common B: {1, 2, 3, 6, 7, 8}

In [43]:
#range

X = range(10)
print(X)

range(0, 10)

In [45]:
X[0]

0

In [49]:
X[10]

IndexError: range object index out of range

In [50]:
type(X)

range

In [51]:
#Dict - key value pairs just like a hash table
d  =  {'key1':'Kamal', 'key2': 100, 5: "Sachin"}

In [52]:
d['key1']                                  # value accessed using key

'Kamal'

In [54]:
#what will this print?
d[5]

'Sachin'

In [56]:
type(d)

dict

In [57]:
#Get the key for largest value in a dict?

answered = {'Kathik': 19, 'Kumar': 17,'Sunil': 12,'Komal': 10,'Mehuya': 15, 'Ashad': 10, 'Sachin' : 5}

max(answered, key=answered.get)                           # who has answered the most no of questions?

'Kathik'

In [58]:
min(answered, key=answered.get)                           # who has answered the least no of questions?

'Sachin'

In [59]:
#Boolean variables
a1 = True
type(a1)

bool

In [73]:
p1 = (1 ,2 ,[3,'A'])
p1[2][1] = 4 
p1

(1, 2, [3, 4])

### 2. Variable & Expressions
- variable name must start with a letter or the underscore character
- variable name cannot start with a number
- variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- can be of arbitrary length
- variables do not need to be declared with any particular type
- type can be changed even after they have been set
- variable names are case-sensitive

In [74]:
# There are no variables in Python - unlike other languages like C or R 
# Python has names and objects.
# Assignment binds a name to an object.
# Passing an argument into a function also binds a name

a = 1                         # binds the name a to an object of type integer that holds the value 1.
b = a                         # b also point to the same object as a.

b = 3                         # now the name b is bound to another object. a doesn't change
print(a, b)

1 3

In [81]:
#another example
a = [1, 2, 3]
b = [1,2,3]

True

In [79]:
b = ['Python','is', 'Strange']
print (a, b)

[1, 2, 3, 5] ['Python', 'is', 'Strange']

In [83]:
# Which of the following is incorrect variable name? 
myvar = "John"   
my_var = "John"
my__var = "John"
_my_var = "John"
myVar = "John"

SyntaxError: invalid syntax (<ipython-input-83-1d63a1d4b2c2>, line 6)

In [84]:
x = y = z = 5                              # assigning the same value to multiple variables in one statement

In [85]:
print ( x, y, z)

5 5 5

In [86]:
x, y, z = 10, 200, 300                     # assigning different values to multiple variables in one statement

In [87]:
print ( x, y, z)

10 200 300

In [88]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits                           # unpacking a list
print(x, y, z)

apple banana cherry

In [91]:
# What will this print?

fruits = ["apple", "banana", "cherry"]
x, *y  = fruits                        
print(x)

ValueError: too many values to unpack (expected 2)

#### 2.2 Casting from one type to another

In [95]:
x = int(4.257) 
y = str(2.0)
val = float("2.56")

In [96]:
print(x, type(x))

4 <class 'int'>

In [97]:
print(y, type(y))

2.0 <class 'str'>

In [98]:
print(val, type(val))

2.56 <class 'float'>

### 3. Language Basics
- Operators
    - Arithmetic : +, - , *, /, %, ** , // 
    - Bitwise    : &, |, ^, ~, >>, <<
    - Assignment : =, +=, -=, *=, /=, &= , ^= etc.
    - Comparison : ==, !=, >, < , >=, <= 
    - Logical    : and, or, not
    - Identity   : is, is not
    - Membership : in, not in
- Conditional statements ( if, elif, else)
- Loops ( for, while)

In [99]:
5*5

25

In [ ]:
1 > 3

In [100]:
a = 1
b = 1.0
a == b                                    # What will this print?

True

In [ ]:
(1 < 2) and (2 < 3)                       # True and True = True

In [101]:
2 << 1                                    # shift 00000010 to 00000100

4

In [102]:
2 >> 1                                    # shift 00000010 to 00000001

1

In [105]:
# is - returns True if both variables are the same object
a = [1,2,3,4,5,6,7,8,9,10]
x = a
y = a
x is y        #objects are same

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 8]

In [106]:
a = [1,2,3,4,5,6,7,8,9,10]
x = a
y = [1,2,3,4,5,6,7,8,9,10]          # a different object
x is y

False

In [107]:
# in operator - returns True if a sequence with the specified value is present in the object
5 in [3,4,5,6]

True

In [108]:
"ap" in "An apple a day"

True

In [109]:
7 in {1, 3 , 5, 7, 9}

True

#### 3.2 Conditional Statements

In [110]:
# if statement - needs to be indented
if 1<2:
    print(' 1 less than 2')

 1 less than 2

In [111]:
# if statement - needs to be indented ( python will throw an error without indent)
if 1>2:
    print("this is inside if block")
print('this is outside if block')

this is outside if block

In [112]:
x = 10
y = 5

if x==y:
    print('X and Y are equal')
elif x<y:                                         # can have more than one elif
    print('X is smaller than Y')
else:
    print('X is greater than Y')

X is greater than Y

In [113]:
#shorthand if else syntax - also called  Ternary Operators 
a = 2
b = 330
print("A") if a > b else print("B")

B

In [114]:
# can have more than one condition as well
a = b = 330
print("A") if a > b else print("Equal") if a == b else print("B")

Equal

In [115]:
#Nested if
x = 41
if x > 10:
    print("You have chosen a number greater than 10")
    if x > 20:
        print("Its also above 20 .. Good choice!")
    else:
        print("but not above 20.")

You have chosen a number greater than 10
Its also above 20 .. Good choice!

In [ ]:
# The pass Statement - if statements cannot be empty. Put in the pass statement to avoid getting an error.
a = 2

if a == 2:
    pass

#### 3.3 Loops
for loop:
   - A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
   - This is less like the for keyword in other programming languages, and works more like an iterator method (similar to R).
   - Using for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
   - C for loop example: for (i = 1; i < 11; ++i) {}

In [116]:
seq = [1,2,3,4,5]

for item in seq:
    print(f'item is {item}')

item is 1
item is 2
item is 3
item is 4
item is 5

In [117]:
# use break to break out of for loop

fruits = ["apple", "banana", "cherry", "mango", "peaches"]

for x in fruits:
    print(x)
    if x == "banana":
        print("take a break")
        break

apple
banana
take a break

In [118]:
# use continue statement to skip the current iteration of the loop, and continue with the next:

fruits = ["apple", "banana", "cherry", "mango", "peaches"]    

print("What's for lunch?")

for x in fruits:
    if x == "banana":                    # let's skip banana for lunch
        continue              
    print(x)

What's for lunch?
apple
cherry
mango
peaches

In [119]:
# else in for loop - specifies a block of code to be executed when the loop is finished.

for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [126]:
# What will this print?

for x in range(6):
    if x == 3: 
        break
    print(x)
else:
    print("Finally finished!")

0
1
2

In [ ]:
# The pass Statement - for statements cannot be empty. Put in the pass statement to avoid getting an error.
for x in [0, 1, 2]:
    pass                                             # do nothing

#### 3.4 List Comprehension 
- List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc. 
- A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element. <br>
- Combines [] with for and if 
##### Syntax: newList = [<expression(item)> for  (item) in [oldList] if (condition) ]

In [127]:
# Initializing list
List = [12,13,17,22,19,23,16,54,77,96]
 
# Square the even elements of the list
newList = [i*i for i in List if i%2 == 0]

In [128]:
print(newList)

[144, 484, 256, 2916, 9216]

In [129]:
# list comprehension is shorter to code and more efficient in execution as well
n = 100

# get square of number upto 100 - for loop
result1 = []
for i in range(n):
    result1.append(i**2)
    
# get square of number upto 100 - for loop
result2 = [i**2 for i in range(n)]

# Check check
result1[99] , result2[99]

(9801, 9801)

In [130]:
# getting square of even numbers from 1 to 50
squares = [n**2 for n in range(1, 50) if n%2==0]
print(squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304]

In [131]:
# Reverse each string in a tuple
List = [string[::-1] for string in ('Best', 'Data', 'Science', 'Guidance', 'Coaching')]
print(List)

['tseB', 'ataD', 'ecneicS', 'ecnadiuG', 'gnihcaoC']

#### 3.5 While Loop
- while loop execute a set of statements as long as a condition is true. 
- requires relevant variables (checked in condition) to be available
- continue statement:  to skip the current iteration
- else block: to run a block of code once when the condition no longer is true

In [1]:
#simple while loop
i = 1

while i<5:
    print("loop no", i)
    i+=1

print("Out of loop")
print(i)

loop no 1
loop no 2
loop no 3
loop no 4
Out of loop
5

In [133]:
# use of else - execute when the condition is false
i = 7
while i < 6:
    print(i)
    i += 1
else:
    print(f'Else: i={i}')

Else: i=7

### 4. Functions
- a block of code which only runs when it is called
- can pass data, known as parameters, into a function
- can return data (multiple values) as a result
- use the function name followed by parenthesis to call the function
- arguments are specified after the function name, inside the parentheses

In [134]:
# function definition starts with def and has a colon. curly brackets are not required
def square(num):
    return num**2

a = 23
result = square(a)
print(result)

529

In [135]:
#multiple return values 

def add(a, b):
    return a+5, b+5

c,d = add(3, 2)
print(c,d)

8 7

#### 4.2 Arbitrary Arguments :  *  and  **
 - 1. Arbitrary arguments, *args 
     - function takes a list of arguments
 - 2. Arbitrary Named(keyword) arguments, **kwargs 
      - function takes a dictionary of arguments

In [137]:
def display_list(*args):
    for i in args:
        print(i)

display_list("Emma", 25, "John")

Emma
25
John

In [140]:
def display_dict(emp, **kwargs):
    for i in kwargs:
        print(kwargs[i])

display_dict(emp="Emma", age=25, city="Bangalore")

25
Bangalore

In [143]:
#default arguments
def sum(a, b=10): 
    return a + b

num = 5 
result = sum(5, 6)                                  # second argument will be set to default
print(result)

11

In [144]:
# What will be the output here?
def sum(a=10,b):
    return a + b

result = sum(5)

SyntaxError: non-default argument follows default argument (<ipython-input-144-7f2e1d12c840>, line 2)

In [145]:
# passing a list as an argument
def print_lunch(items):
    for i in items:                             # i has to be an iterable value
        print(i)
        
items = ["curdrice", "salad", "pickle"]

print_lunch(items)

curdrice
salad
pickle

In [146]:
#what will this print?
items = "Ice Cream"
print_lunch(items)

I
c
e

C
r
e
a
m

#### 4.3 Recursion 
 - Recursion is a common mathematical and programming concept. It means that a function calls itself. 
 - This has the benefit of meaning that you can loop through data to reach a result.
 - Python also accepts function recursion, which means a defined function can call itself.
 - Avoid recursion unless really required - hard to understand, debug, causes memory overload

In [147]:
#finding the greatest common divisor recursively
def gcd(p, q):
    if q == 0:
        return p
    return gcd(q , p%q)

gcd(84, 36)

12

In [ ]:
# write a function to reverse the string recursively

In [ ]:
# write a function to calculate the factorial of a number

#### 4.4 Lambda function 
- a small anonymous function
- can only have one expression
- can take any number of arguments 

##### Syntax:  lambda arguments : expression

In [148]:
multiply = lambda a, b : a * b                  #use lambda keyword

print(multiply(5, 6))

30

In [ ]:
#write a lambda function to sum 3 integers

In [149]:
#map function - applies a function over an iterator
from math import * 

seq = [1,2,3,4,5]
result = map(sqrt, seq)                         #apply math.sqrt() to each element in seq

list(result)                                    #get the result in a list

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

##### 4.5 Passing Function as parameters
 - functions can be passed as arguments to another function
 - functions like map, filter and reduce in Python, work this way

In [151]:
def add1(x):
    return x + 1


def sub1(x):
    return x - 1


def update(x, func):
    result = func(x)
    return result

In [152]:
update(5,add1)

6

In [153]:
update(5,sub1)

4

##### 4.6 Decorator Functions
 - These functions add aditional functionality to existing functions
 - Useful when original function code is not available for editing

In [154]:
def printer(msg):
    print(msg)

In [155]:
printer("I am learning Data Science")

I am learning Data Science

In [156]:
#decorator example
def decorate(func):
    def inner(msg):
        print("%" * 30)
        func(msg)
        print("%" * 30)
    return inner

@decorate
def printer(msg):
    print(msg)

In [157]:
printer("I am learning Data Science")

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
I am learning Data Science
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

#### 4.7 Modules 
- In Python, Modules are simply files with the “. py” extension containing Python code 
- They can be imported inside another Python Program
- A module is a code library or a file that contains a set of functions
- The Python standard library contains well over 200 modules, although the exact number varies between distributions

In [158]:
import math                                        # use import to import a module

In [159]:
# dir is used to find all function defined inside a module
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [160]:
from math import sin , pi

x = sin(2*pi)

print (x)

-2.4492935982947064e-16

In [161]:
# user defined module 
import mymodule

In [162]:
dir(mymodule)                                     # let's take a peek

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'greeting',
 'quoteofday',
 'whatsforlunch']

In [163]:
mymodule.quoteofday()

An apple a day keeps the doctor away!

In [ ]:
# Question  - How to unload a module in Python?